@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green: #00ff41; /* Couleur par défaut */
}

@layer base {
  .text-neonGreen {
    color: var(--neon-green);
  }
  .bg-neonGreen {
    background-color: var(--neon-green);
  }
  .border-neonGreen {
    border-color: var(--neon-green);
  }
}